@use '../global'as *;

body.is-sub.is-comment {
	.anchor-btn {
		display: none;
	}
}

.page-comment-inner {
	margin-top: vw(150);
	margin-left: auto;
	margin-right: auto;

	@include mq(lg) {
		max-width: 600px;
		margin-top: 155px;
	}
}

.comment-form-area {

	.number,
	.name,
	.content {
		width: 100%;

		dt {
			font-size: vw(22);

			@include mq(lg) {
				font-size: 14px;
			}
		}

		dd {
			font-size: vw(24);
			line-height: 1.54;

			@include mq(lg) {
				font-size: 16px;
			}
		}

	}

	.number,
	.name {
		border-bottom: vw(1) solid $formGray;

		@include mq(lg) {
			border-width: 1px;
		}

		dt {
			margin-bottom: vw(30);

			@include mq(lg) {
				margin-bottom: 20px;
			}
		}

		dd {
			padding-bottom: vw(12);
			padding-left: vw(30);
			letter-spacing: .05em;

			@include mq(lg) {
				padding-bottom: 5px;
				padding-left: 15px;
			}
		}
	}

	.number {
		margin-bottom: vw(60);

		@include mq(lg) {
			margin-bottom: 35px;
		}
	}

	.name {
		margin-bottom: vw(50);

		@include mq(lg) {
			margin-bottom: 30px;
		}
	}

	.content {
		font-size: vw(24);
		line-height: 1.8;

		@include mq(lg) {
			line-height: 1.75;
			font-size: 16px;
		}

		dt {
			@include mq(lg) {
				margin-bottom: 4px;
			}
		}

		textarea {
			resize: none;
			width: 100%;
			line-height: 1.8;
			font-size: vw(24);
			border-color: $formGray;
			border-radius: vw(8);
			padding: vw(20) vw(30);
			min-height: vw(480);
			outline: none;

			@include mq(lg) {
				line-height: 1.75;
				font-size: 16px;
				border-radius: 5px;
				min-height: 200px;
				padding: 10px;
			}

			&::placeholder {
				color: $formGray;
			}

			&:focus {
				outline-color: $blue !important;
				outline-style: solid;
			}
		}

		// 以下確認画面のスタイル
		&.confirm {
			dt {
				margin-bottom: vw(25);

				@include mq(lg) {
					margin-bottom: 18px;
				}
			}

			dd {
				padding-left: vw(30);
				line-height: 1.8;

				@include mq(lg) {
					padding-left: 15px;
					line-height: 1.8;
				}
			}
		}
	}
}

.form-warning {
	color: #ff0000;
	font-size: vw(20);
	margin-top: vw(32);
	margin-bottom: vw(120);

	@include mq(lg) {
		margin-top: 30px;
		margin-bottom: 100px;
		font-size: 14px;
	}

	&.confirm {
		margin-top: vw(100);

		@include mq(lg) {
			margin-top: 110px;
		}
	}
}

.page-confirm-btn-post {
	margin-bottom: vw(40);

	@include mq(lg) {
		margin-bottom: 30px;
	}
}