<% const page='talkbox'; %>
<%- include('../components/_header',{ meta: data.pageMeta[page]}); %>

<main class="l-main l-page-main c-page-bg">
	<div class="l-page-outer">
		<h1 class="l-page-title">TALKBOX</h1>
		<div class="l-page-inner page-talkbox-inner">

			<article class="c-article-item talkbox-item">
				<!-- 新着記事NEWアイコン -->
				<span class="new"><img src="../assets/img/ic-new-blue.svg" alt="NEW" width="120" height="auto"></span>
				<!-- // 新着記事NEWアイコン -->
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a href="./detail.html">タイトルが入ります。</a></h2>
				</section>
				<!-- ボタンを押したときのスタイルをis-activeで定義 -->
				<div class="talkbox-btn-container">
					<div class="c-btn__like is-active">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

			<article class="c-article-item talkbox-item">
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a
							href="./detail.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
					</h2>
				</section>
				<div class="talkbox-btn-container">
					<div class="c-btn__like">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

			<article class="c-article-item talkbox-item">
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a
							href="./detail.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
					</h2>
				</section>
				<div class="talkbox-btn-container">
					<div class="c-btn__like">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

			<article class="c-article-item talkbox-item">
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a
							href="./detail.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
					</h2>
				</section>
				<div class="talkbox-btn-container">
					<div class="c-btn__like">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

			<article class="c-article-item talkbox-item">
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a
							href="./detail.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
					</h2>
				</section>
				<div class="talkbox-btn-container">
					<div class="c-btn__like">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

			<article class="c-article-item talkbox-item">
				<section class="article-heading talkbox-heading">
					<div class="c-date-talk">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h2 class="talk-title article-title"><a
							href="./detail.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
					</h2>
				</section>
				<div class="talkbox-btn-container">
					<div class="c-btn__like">
						<span>251</span>
					</div>
					<!-- コメントボタンはクリックで色は変わらずリンクで飛ぶだけです。 -->
					<a class="c-btn__comment" href="./detail.html"><span>250</span></a>
				</div>
				<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
			</article>

		</div>
		<!-- 共通ページャー -->
		<div class="l-pager">
			<ul class="pager-items">
				<li class="pager-item prev"><a href="#"><img src="../assets/img/ic-pager-prev.svg" width="23" height="auto"
							alt="前の一覧へ"></a></li>
				<li class="pager-item number"><a href="#">1</a></li>
				<li class="pager-item number is-current"><span>2</span></li>
				<li class="pager-item number"><a href="#">3</a></li>
				<li class="pager-item number"><a href="#">4</a></li>
				<li class="pager-item number"><a href="#">5</a></li>
				<li class="pager-item number dotted"><span>…</span></li>
				<li class="pager-item number"><a href="#">10</a></li>
				<li class="pager-item next"><a href="#"><img src="../assets/img/ic-pager-next.svg" width="23" height="auto"
							alt="次の一覧へ"></a></li>
			</ul>
		</div>
		<!-- //共通ページャー -->
	</div>
</main>
<%- include('../components/_footer',{ meta: data.pageMeta[page]}); %>
