<% const page='podcast'; %>
<%- include('../components/_header',{ meta: data.pageMeta[page]}); %>

<main class="l-main l-page-main c-page-bg">
	<div class="l-page-outer">
		<h1 class="l-page-title">PODCAST</h1>
		<div class="page-podcast-inner">
			<div class="c-article-items">
				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<span class="new"><img src="../assets/img/ic-new-blue.svg" alt="NEW" width="120" height="auto"></span>
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<!-- ボタンを押したときのスタイルをis-activeで定義 -->
							<div class="c-btn__like is-active">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a href="./detail.html">ダミータイトルダミーです。ダミーです。</a></h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>

				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>

				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>

				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>

				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>

				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。ダミータイトルダミーです。ダミーです。</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>
				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">PCで１行の記事数が２つのときのダミーPCで１行の記事数が２つのときのダミーPCで１行の記事数が２つのときのダミー</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>
				<article class="c-article-item podcast-article">
					<!-- コンテンツ毎の画像 -->
					<div class="article-thumbnail">
						<a href="./detail.html">
							<div class="article-img podcast-img" style="background-image: url(../assets/img/img-top-podcast.jpg);">
							</div>
						</a>
					</div>
					<!-- // コンテンツ毎の画像 -->
					<section class="article-heading">
						<div class="date-like">
							<p class="c-date-smlg article-date">
								<span class="sm">2021.</span><span class="lg">03.01</span>
							</p>
							<div class="c-btn__like">
								<span>251</span>
							</div>
						</div>
						<h2 class="article-title"><a
								href="./detail.html">PCで１行の記事数が２つのときのダミーPCで１行の記事数が２つのときのダミーPCで１行の記事数が２つのときのダミー</a>
						</h2>
					</section>
					<a href="./detail.html" class="c-info-more article-more">READ MORE</a>
				</article>



			</div>
		</div>
		<!-- 共通ページャー -->
		<div class="l-pager">
			<ul class="pager-items">
				<li class="pager-item prev"><a href="#"><img src="../assets/img/ic-pager-prev.svg" width="23" height="auto"
							alt="前の一覧へ"></a></li>
				<li class="pager-item number"><a href="#">1</a></li>
				<li class="pager-item number is-current"><span>2</span></li>
				<li class="pager-item number"><a href="#">3</a></li>
				<li class="pager-item number"><a href="#">4</a></li>
				<li class="pager-item number"><a href="#">5</a></li>
				<li class="pager-item number dotted"><span>…</span></li>
				<li class="pager-item number"><a href="#">10</a></li>
				<li class="pager-item next"><a href="#"><img src="../assets/img/ic-pager-next.svg" width="23" height="auto"
							alt="次の一覧へ"></a></li>
			</ul>
		</div>
		<!-- //共通ページャー -->
	</div>
</main>
<%- include('../components/_footer',{ meta: data.pageMeta[page]}); %>
