<% const page='top'; %>
<%- include('./components/_header-logout',{ meta: data.pageMeta[page]}); %>

<section class="top-kv">
	<h1 class="top-kv-title"><img src="./assets/img/text-logo-kv.svg" alt=""><span class="sr-only">MIYU TOMIYA
			OFFICIAL
			SITE</span></h1>
	<div class="top-kv-slider">
		<div class="slide-item" style="z-index: 0;">
			<div class="slide-visual is-active">
				<span class="slide-bg __1"></span>
			</div>
		</div>

		<div class="slide-item" style="z-index: 0;">
			<div class="slide-visual is-active">
				<span class="slide-bg __2"></span>
			</div>
		</div>

		<div class="slide-item" style="z-index: 1;">
			<div class="slide-visual is-active">
				<span class="slide-bg __3"></span>
			</div>
		</div>
	</div>
</section>

<main class="l-main">
	<div class="top-visitor-container">
		<div class="signup"><a href="#">新規ご入会の方は<br class="is-sp">こちら</a></div>
		<div href="#" class="c-btn__login login  js-openModal">LOGIN</div>
	</div>
	<div class="alert-container">
		<div class="alert-inner">
			<div class="icon">
				<img src="./assets/img/ic-attention.svg" alt="">
			</div>
			<p class="text">
				<span>この文章は２行まで表示されるダミーです。この文章は２行まで表示されるダミーです。この文章は２行まで表示されるダミーです。この文章は２行まで表示されるダミーです。この文章は２行まで表示されるダミーです。</span>
			</p>
		</div>
	</div>
	<section class="top-info">
		<h2 class="c-top-section-title top-info-title">INFORMATION</h2>
		<ul class="c-info-items top-info-items">
			<li class="c-info-item">
				<article>
					<div class="c-info-tags">
						<span class="category __blue">FANCLUB</span>
						<span class="new"><img src="./assets/img/ic-new-black.svg" alt="NEW"></span>
						<span class="date">2021.00.00</span>
					</div>
					<section>
						<h3 class="c-info-article-title">
							<a href="./info/detail.html">
								ニュースタイトルが入ります。ニュースタイトルが入ります。
								ニュースタイトルが入ります。ニュースタイトルが入ります。
							</a></h3>
						<a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
					</section>
				</article>
			</li>

			<li class="c-info-item">
				<article>
					<div class="c-info-tags">
						<span class="category __green">MEDIA</span>
						<span class="new"><img src="./assets/img/ic-new-black.svg" alt="NEW"></span>
						<span class="date">2021.00.00</span>
					</div>
					<section>
						<h3 class="c-info-article-title"><a href="./info/detail.html">
								ニュースタイトルが入ります。
							</a></h3>
						<a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
					</section>
				</article>
			</li>

			<li class="c-info-item">
				<article>
					<div class="c-info-tags">
						<span class="category __orange">RELEASE</span>
						<span class="new"><img src="./assets/img/ic-new-black.svg" alt="NEW"></span>
						<span class="date">2021.00.00</span>
					</div>
					<section>
						<h3 class="c-info-article-title"><a href="./info/detail.html">
								ニュースタイトルが入ります。ニュースタイトルが入ります。
								ニュースタイトルが入ります。ニュースタイトルが入ります。
							</a></h3>
						<a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
					</section>
				</article>
			</li>

			<li class="c-info-item">
				<article>
					<div class="c-info-tags">
						<span class="category __pink">LIVE/EVENT</span>
						<span class="date">2021.00.00</span>
					</div>
					<section>
						<h3 class="c-info-article-title"><a href="./info/detail.html">
								ニュースタイトルが入ります。ニュースタイトルが入ります。
								ニュースタイトルが入ります。ニュースタイトルが入ります。
							</a></h3>
						<a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
					</section>
				</article>
			</li>
		</ul>
		<div class="top-info-viewall">
			<a href="./info/" class="c-btn__viewall top-info-viewall__btn">VIEW ALL</a>
		</div>
	</section>

	<section class="top-fc-area">
		<h1 class="top-fc-title f-jfB">FANCLUB<br>AREA</h1>
		<!-- MEMORIES -->
		<section class="top-section top-memories para-item">
			<h2 class="c-top-section-title title">MEMORIES</h2>
			<div class="swiper-container memories-slider js-memoriesSlider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<span class="tag-new"><img src="./assets/img/ic-new-blue.svg" alt="NEW" width="120" height="auto"></span>
							<div class="bg-img __1"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __2"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __3"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __4"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __5"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __6"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __7"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner js-openModal">
							<div class="bg-img __8"></div>
							<p class="date">2021.<span>03.01</span></p>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev c-slide-button __prev"></div>
				<div class="swiper-button-next c-slide-button __next"></div>
			</div>
			<div class="top-info-viewall u-adjust-viewall" data-reg="-10">
				<span href="" class="c-btn__viewall top-info-viewall__btn js-openModal">VIEW ALL</span>
			</div>
		</section>
		<!--  // MEMORIES -->

		<!-- MOVIE -->
		<section class="top-section top-movie para-item">
			<h2 class="c-top-section-title title">MOVIE</h2>
			<div class="swiper-container movie-slider js-movieSlider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide-inner">
							<span class="tag-new"><img src="./assets/img/ic-new-blue.svg" alt="NEW" width="120" height="auto"></span>
							<span class=" js-openModal">
								<div class="bg-img __movie __1"></div>
							</span>
							<div class="bg-img-foot"></div>
							<div class="text  js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">タイトルが入ります。</h3>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner">
							<span class=" js-openModal">
								<div class="bg-img __movie __1"></div>
							</span>
							<div class="bg-img-foot"></div>
							<div class="text  js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。</h3>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-inner">
							<span class=" js-openModal">
								<div class="bg-img __movie __1"></div>
							</span>
							<div class="bg-img-foot"></div>
							<div class="text  js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">タイトルが入ります。</h3>
							</div>
						</div>
					</div>

				</div>
				<div class="swiper-button-prev c-slide-button"></div>
				<div class="swiper-button-next c-slide-button"></div>
			</div>
			<div class="top-info-viewall u-adjust-viewall">
				<span href="./movie/" class="c-btn__viewall top-info-viewall__btn js-openModal">VIEW ALL</span>
			</div>
		</section>
		<!-- // MOVIE -->

		<!-- REPORT -->
		<section class="top-section top-report para-item">
			<h2 class="c-top-section-title title">REPORT</h2>
			<div class="section-slider-wrapper">
				<div class="swiper-container report-slider js-reportSlider">
					<div class="swiper-wrapper report-wrapper">
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<span class="tag-new"><img src="./assets/img/ic-new-blue.svg" width="120" height="auto"
										alt="NEW"></span>
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。タイトル
										が入ります。タイトルが入ります。タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="slide-inner js-openModal">
								<div class="text">
									<p class="date"><span>2021.</span><span class="lg">03.01</span></p>
									<h3 class="item-title">タイトルが入ります。</h3>
								</div>
								<div class="img-inner">
									<img src="./assets/img/img-miyu05.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button-prev c-slide-button __prev __report"></div>
					<div class="swiper-button-next c-slide-button __next __report"></div>
				</div>
			</div>
			<div class="top-info-viewall u-adjust-viewall">
				<span href="./report/" class="c-btn__viewall top-info-viewall__btn js-openModal">VIEW ALL</span>
			</div>
		</section>
		<!-- //REPORT -->

		<!-- PODCAST -->
		<section class="top-section top-podcast para-item">
			<h2 class="c-top-section-title title">PODCAST</h2>
			<div class="swiper-container movie-slider podcast-slider js-podcastSlider">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="slide-inner">
							<div class="bg-img-top"></div>
							<div class="bg-img __movie __1 js-openModal"><span class="tag-new"><img src="./assets/img/ic-new-blue.svg"
										width="120" height="auto" alt="NEW"></span>
							</div>
							<div class="text js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">タイトルが入ります。</h3>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="slide-inner">
							<div class="bg-img-top"></div>
							<div class="bg-img __movie __2 js-openModal">
							</div>
							<div class="text js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">タイトルが入ります。</h3>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="slide-inner">
							<div class="bg-img-top"></div>
							<div class="bg-img __movie __3 js-openModal">
							</div>
							<div class="text js-openModal">
								<p class="date"><span class="sm">2021.01</span><span class="lg">07</span></p>
								<h3 class="item-title">タイトルが入ります。</h3>
							</div>
						</div>
					</div>

				</div>
				<div class="swiper-button-prev c-slide-button __prev __podcast"></div>
				<div class="swiper-button-next c-slide-button __next __podcast"></div>
			</div>

			<div class="top-info-viewall u-adjust-viewall">
				<span href="./podcast/" class="c-btn__viewall top-info-viewall__btn js-openModal">VIEW ALL</span>
			</div>
		</section>
		<!-- // PODCAST -->

		<!-- TALKBOX -->
		<section class="top-section top-talkbox para-item">
			<h2 class="c-top-section-title title">TALKBOX</h2>
			<ul class="top-talk-items">
				<li class="top-talk-item">
					<span class="tag-new"><img src="./assets/img/ic-new-blue.svg" width="120" height="auto" alt="NEW"></span>
					<div class="c-date-talk top-talk-date">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h3 class="talk-title js-openModal">タイトルが入ります。</h3>
				</li>
				<li class="top-talk-item">
					<div class="c-date-talk top-talk-date">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h3 class="talk-title js-openModal">タイトルが入ります。</h3>
				</li>
				<li class="top-talk-item">
					<div class="c-date-talk top-talk-date">
						<p class="c-date-smlg">
							<span class="sm">2021.</span><span class="lg">03.01</span>
						</p>
					</div>
					<h3 class="talk-title js-openModal">タイトルが入ります。</h3>
				</li>
			</ul>
			<div class="top-info-viewall u-adjust-viewall">
				<span href="./talkbox/" class="c-btn__viewall top-info-viewall__btn  js-openModal">VIEW ALL</span>
			</div>
		</section>
		<!-- // TALKBOX -->

		<!-- SPECIAL -->
		<section class="top-section top-special para-item">
			<h2 class="c-top-section-title title">SPECIAL</h2>
			<div class="top-special-content">
				<div class="top-special-inner  js-openModal">
					<div class="c-box-new">
						<span class="c-box-new__tag"><img src="./assets/img/ic-new-blue.svg" width="120" height="auto"
								alt="NEW"></span>
					</div>
				</div>
			</div>
			<div class="top-info-viewall u-adjust-viewall ">
				<span href="./special/" class="c-btn__viewall top-info-viewall__btn  js-openModal">VIEW ALL</span>
			</div>
		</section>
	</section>
</main>

<%- include('./components/_footer',{ meta: data.pageMeta[page]}); %>
