<% const page='sub'; %>
<%- include('../components/_header-logout',{ meta: data.pageMeta[page]}); %>

<main class="l-main c-main">
	<div class="c-border-inner p-signup-container">
		<h1 class="c-border-inner__title p-signup-page-title"><span class="sr-only">YANAGIDA MASAHIRO SUPPORTERS CLUB</span>
			<img src="../img/img-page-logo.svg" alt="YANAGIDA MASAHIRO SUPPORTERS CLUB"></h1>
		<div class="c-content-inner p-signup-inner">
			<p class="p-signup-desc">
				柳田将洋選手を応援してくださっている方のための月額会員制サイトです。<br>
				サポーター登録をしていただくと、柳田将洋選手の背番号にちなんだ以下の“8つのサポーター特典”が受けられます！
			</p>
			<section class="p-signup-benefits">
				<h2 class="p-signup-benefits__title">
					<img src="../img/text-benefits.svg" alt="8つのサポーター特典">
				</h2>
				<div class="p-benefit-flex">
					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __1"></span>
							オリジナルサポーター番号の発行
						</h3>
						<div class="p-benefit-item__content __1">
							<p class="text">アナタだけのオリジナルサポーター番号(背番号)をご用意します！</p>
							<div class="img"><img src="../img/ic-uniform02.svg" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->

					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __2"></span>
							サイトコンテンツの閲覧</h3>
						<div class="p-benefit-item__content __2">
							<p class="text">本人&スタッフのブログ、動画の配信(不定期)などここでしか見られない柳田選手の様々な面をお届けします。<br>
								また、サポーターの方同士の交流の場である「MASA’s BBS」では、柳田選手が立てたスレッドを閲覧することが出来ます。
							</p>
							<div class="img"><img src="../img/img-benefit02.png" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->
				</div>

				<div class="p-benefit-flex">
					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title __3">
							<span class="p-title-icon __3"></span>
							MAIL NEWSの配信（不定期）
						</h3>
						<div class="p-benefit-item__content __3">
							<p class="text">柳田将洋選手の最新情報をメールでお届け！</p>
							<div class="img"><img src="../img/ic-mailnews.png" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->

					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __4"></span>
							グリーティングメール配信
						</h3>
						<div class="p-benefit-item__content __4">
							<p class="text">アナタのお誕生日に柳田将洋選手からBirthdayメールが届く他、年に何度か配信！（不定期）</p>
							<div class="img"><img src="../img/img-benefit04.png" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->
				</div>

				<div class="p-benefit-flex">
					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __5"></span>
							グッズの販売
						</h3>
						<div class="p-benefit-item__content __5">
							<div class="img"><img src="../img/img-benefit05.png" alt="サポーターズキットの写真">
							</div>
							<div class="img"><img src="../img/text-asmart.png" alt="A!SMART">
							</div>
							<p class="text">▲「柳田将洋 SHOP」にて、ご購入いただけます。
							</p>
						</div>
					</section>
					<!-- // p-benefit-item -->

					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __6"></span>
							イベントへの参加（不定期）
						</h3>
						<div class="p-benefit-item__content __6">
							<p class="text">▼2018年8月開催「柳田将洋 1st Fan Meeting」
							</p>
							<div class="img"><img src="../img/img-benefit06.jpg" alt=""></div>
							<p class="text">※限定イベントは不定期開催です。毎年必ず行うものではございません。<br>
								また、ご応募多数の場合は抽選となり、必ずしもご参加のお約束が出来るということではございませんので、予めご了承ください。
							</p>
						</div>
					</section>
					<!-- // p-benefit-item -->
				</div>

				<div class="p-benefit-flex">
					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __7"></span>
							プレゼント企画（不定期）
						</h3>
						<div class="p-benefit-item__content __7">
							<p class="text">柳田選手からのスペシャルなプレゼントがもらえる抽選にご応募いただけます！</p>
							<div class="img"><img src="../img/img-benefit07.png" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->

					<!-- p-benefit-item -->
					<section class="p-benefit-item">
						<h3 class="p-benefit-item__title">
							<span class="p-title-icon __8"></span>
							長期サポーター制度
						</h3>
						<div class="p-benefit-item__content __8">
							<p class="text">サポーター登録を継続してくださった方へのスペシャル特典をご用意！<br>
								継続日数に応じた特典が受けられます。
							</p>
							<div class="img"><img src="../img/img-benefit08.png" alt=""></div>
						</div>
					</section>
					<!-- // p-benefit-item -->
				</div>

			</section>
			<!-- // p-signup-benefits -->
			<section class="p-signup-borderset __price">
				<h2 class="p-signup-borderset__title">サポーター登録料<span class="title-icon"><img src="../img/ic-cash.svg"
							alt=""></span></h2>
				<dl class="price">
					<dt>月額利用料</dt>
					<dd>440円（税込）</dd>
				</dl>
				<div class="price-howto">
					<p class="desc">以下のお支払方法をご利用いただけます。</p>
					<ul class="items">
						<li class="item">クレジットカード決済</li>
						<li class="item">キャリア決済(docomo、au、Softbank)</li>
					</ul>
				</div>
			</section>

			<section class="p-signup-borderset __bbs">
				<h2 class="p-signup-borderset__title">MASA’s BBS
					<span class="title-icon"><img src="../img/ic-bbs.svg" alt=""></span>
				</h2>
				<p class="text">柳田将洋選手の応援メッセージや試合、イベント、テレビ出演などの内容に関するご感想などを投稿・共有する場所です。<br>
					サポーターの皆さんの交流の場としてご活用いただくほか、スタッフから皆さんへ意見を募集したり、柳田選手が遊びに来てくれたり!?</p>
				<div class="c-dotted-inner">
					<img src="../img/img-bbs-sample.jpg" alt="">
				</div>
			</section>

			<section class="p-signup-borderset __meeting">
				<h2 class="p-signup-borderset__title">
					2018年8月開催<br class="is-sp">
					「柳田将洋 1st Fan Meeting」
					<span class="title-icon"><img src="../img/ic-uniform03.svg" alt=""></span>
				</h2>
				<div class="c-dotted-inner">
					<img src="../img/img-fanmeeting.png" alt="">
				</div>
			</section>

			<div class="p-signup-together">
				<span class="inner">一緒に柳田将洋選手を応援しましょう！</span>
			</div>
			<a href="../signup/" class="c-btn__black p-btn__signup" target="_blank" rel="noopener noreferrer">登録はこちら</a>
		</div>
		<!-- c-content-inner p-signup-inner -->
	</div>
	<!-- // c-border-inner -->
	<div class="c-btn__anchor">
		<a href="#js-anchor">
			<img class="anchor-img" src="../img/ic-top-anchor.svg" alt="">
			<span>TOP</span></a>
	</div>
	<div class="c-fc-container l-main-container">
		<div class="c-btn__fc js-fc-link">
			<a href="#"><img src="../img/img-fixed-fc.png" alt="ファンクラブへのリンク" width="" height=""></a>
		</div>
	</div>
</main>
<%- include('../components/_footer',{ meta: data.pageMeta[page]}); %>
