<% const page='info'; %>
<%- include('../components/_header',{ meta: data.pageMeta[page]}); %>

<main class="l-main l-page-main c-page-bg">
	<div class="l-page-outer">
		<h1 class="l-page-title">INFORMATION</h1>
		<div class="l-page-inner page-info-inner">
			<ul class="tab-menu-items">
				<div>
					<li class="tab-menu-item js-tabTrigger __1 is-active" data-id="tab01">
						ALL
					</li>

					<li class="tab-menu-item js-tabTrigger __2" data-id="tab02">
						MEDIA
					</li>

					<li class="tab-menu-item js-tabTrigger __3" data-id="tab03">
						RELEASE
					</li>

				</div>
				<div>
					<li class="tab-menu-item js-tabTrigger __4" data-id="tab04">
						LIVE/EVENT
					</li>

					<li class="tab-menu-item js-tabTrigger __5" data-id="tab05">
						OTHERS
					</li>

					<li class="tab-menu-item js-tabTrigger __6" data-id="tab06">
						FANCLUB
					</li>
				</div>
			</ul>
			<ul class="c-info-items page-info-items">

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __blue">FANCLUB</span>
							<span class="new"><img src="../assets/img/ic-new-black.svg" alt="NEW"></span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title">
								<a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a>
							</h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __green">MEDIA</span>
							<span class="new"><img src="../assets/img/ic-new-black.svg" alt="NEW"></span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title">ニュース <a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __orange">RELEASE</span>
							<span class="new"><img src="../assets/img/ic-new-black.svg" alt="NEW"></span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title">ニュース <a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __pink">LIVE/EVENT</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __purple">OTHERS</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __blue">FANCLUB</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title">
								<a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __green">MEDIA</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __orange">RELEASE</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __pink">LIVE/EVENT</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

				<li class="c-info-item">
					<article>
						<div class="c-info-tags">
							<span class="category __purple">OTHERS</span>
							<span class="date">2021.00.00</span>
						</div>
						<section>
							<h3 class="c-info-article-title"><a href="./detail.html">
									ニュースタイトルが入ります。ニュースタイトルが入ります。
									ニュースタイトルが入ります。ニュースタイトルが入ります。
								</a></h3>
							<a href="./detail.html" class="c-info-more f-jfR">READ MORE</a>
						</section>
					</article>
				</li>

			</ul>
		</div>
		<!-- 共通ページャー -->
		<div class="l-pager">
			<ul class="pager-items">
				<li class="pager-item prev"><a href="#"><img src="../assets/img/ic-pager-prev.svg" width="23" height="auto"
							alt="前の一覧へ"></a></li>
				<li class="pager-item number"><a href="#">1</a></li>
				<li class="pager-item number is-current"><span>2</span></li>
				<li class="pager-item number"><a href="#">3</a></li>
				<li class="pager-item number"><a href="#">4</a></li>
				<li class="pager-item number"><a href="#">5</a></li>
				<li class="pager-item number dotted"><span>…</span></li>
				<li class="pager-item number"><a href="#">10</a></li>
				<li class="pager-item next"><a href="#"><img src="../assets/img/ic-pager-next.svg" width="23" height="auto"
							alt="次の一覧へ"></a></li>
			</ul>
		</div>
		<!-- //共通ページャー -->
	</div>
</main>
<%- include('../components/_footer',{ meta: data.pageMeta[page]}); %>
